<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="NSC-Math-453 : Abstract Algebra 1">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
        displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

    <title>NSC-Math-453</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">NSC-Math-453 Abstract Algebra 1</h1>

        <nav>
    		  <ul>
        		<li><a href="/NSC-Math-453/index.html">Schedule</a></li>
        		<li><a href="/NSC-Math-453/Syllabus.html">Syllabus</a></li>
	        	<li><a href="/NSC-Math-453/Specifications.html">Specifications</a></li>
        		<li><a href="/NSC-Math-453/LearningObjectives.html">Learning Objectives</a></li>
    		  </ul>
	</nav>

          <title>{{ page.title }}</title>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
		<div class="container">
{{ content }}
		</div><!-- /.container -->
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">NSC-Math-453 maintained by <a href="https://github.com/sergeballif">Serge Ballif</a>. Many thanks to <a href="http://teaching.proftalbert.com/mth310f13/">Robert Talbert</a> who supplied many of these files.</p>
      </footer>
    </div>

  </body>
</html>
